body{
    margin: 0px;
    font-family: helvetica, Arial, sans-serif;
    line-height: 30px;
    font-size: 18px;
}

header{
    background-color: #af1313;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

h1, h2{
    font-family: 'Ninja Naruto', sans-serif;
}
header img{
    border-radius: 180px;
    width: 300px;
    border: white 13px solid;
}

header h1{
    color: white;
    text-align: center;
}

main{
    padding: 20px;
    margin: 0px auto;
    max-width: 800px;
}

.caption{
    color: gray;
    font-style: italic;
    margin-top: 0px;
}

main img{
    width: 100%;
}

main a{
    color: #af1313;
    text-decoration: none;
}

main a:hover{
    color: #282f3f;
    transition: ease-out 700ms;
    font-size: 25px;
}

footer{
    background-color: #af1313;
    padding: 20px;
    margin: 0px;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}